{% extends 'base.html.twig' %}

{% block body %}
    {{ parent() }}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <br><br><br><br><br>
                <div class="card border-dark rounded-lg border-4">
                    <div class="card-body">
                        <h1 class="card-title text-center mb-4">Reset Password</h1>

                        <form method="post" action="{{ path('app_reset_password', {'token': token}) }}">
                            {{ form_widget(resetPasswordForm) }}

                            <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-block">Confirmer</button>
                            </div>
                        </form>
                    </div>
                </div>
                <br><br><br><br><br>
            </div>
        </div>
    </div>
{% endblock %}
