/* Définition des couleurs */
:root {
    --primary-color: #1d3557; /* Bleu foncé */
    --secondary-color: #6b705c; /* Vert olive */
    --accent-color: #8d2d2c; /* Bordeaux */
}

.body {
    min-height: 1500px;
}
.hero {
    background-color: var(--primary-color);
    color: #fff;
    padding: 100px;
    text-align: center;
}

.latest-books {
    background-color: var(--secondary-color);
    color: #fff;
    padding: 50px;
}

.latest-books h2 {
    color: var(--accent-color);
}

.book-list {
    list-style: none;
    padding: 0;
}

.book-list li {
    margin: 20px 0;
}

.book-title {
    font-size: 24px;
    font-weight: bold;
}

.book-author {
    font-size: 16px;
    font-style: italic;
}
.book-description {
    font-size: 16px;
    line-height: 1.4;
    margin-top: 10px;
}
.book-cover {
    width: 200px;
    height: 300px;
    margin-left: auto;
}

.title {
    display: inline-block;
    margin-right: 20px;
}
/* Styles spécifiques à la page de recherche */
.search-form {
    margin: 50px auto;
    max-width: 600px;
}

.search-results {
    margin: 50px auto;
    max-width: 800px;
}

.search-results .book-list li {
    margin: 10px 0;
}

.search-results .book-title {
    font-size: 20px;
}

.search-results .book-author {
    font-size: 14px;
}
