{% extends 'base.html.twig' %}

{% block body %}
    <h1>Bienvenue, {{ client.getFullName() }} !</h1>
    <p>Merci de vous être inscrit sur notre site.</p>
    <h2>Vos offres :</h2>
    {% if client.offres|length > 0 %}
        <ul>
            {% for offre in client.offres %}
                <li>{{ offre.title }} - {{ offre.price }} €</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Vous n'avez pas encore ajouté d'offres.</p>
    {% endif %}
{% endblock %}