{% extends 'base.html.twig' %}

{% block body %}
    <h1>Politique de confidentialité</h1>
    <h2>Avertissement</h2>
    <p>Le présent outil est mis à votre disposition gratuitement. L'outil se base sur des informations fondées sur l’analyse professionnelle du cabinet en matière de conformité RGPD. Toutefois, la conformité étant un processus dynamique et toute situation étant particulière, les informations transmises doivent être adaptées et ne peuvent en aucun cas être considérées comme exhaustives ou exactes.</p>
    <p>Sauf à ce que vous demandiez une revue et validation par le Cabinet, le document généré est considéré comme une simple information. En conséquence, vous êtes seul responsable des interprétations faites des informations fournies, des conseils que vous en déduisez et des adaptations réalisées pour votre activité commerciale propre. L'utilisation et l'exploitation de l'outil se fait donc sous votre seule responsabilité et à vos risques et périls.</p>
    <h2>La façon dont nous collectons les données personnelles des visiteurs de notre site web :</h2>
    <p>Les données que nous collectons sont les donnée fournit par l'utilisateur lors de son inscription nom, prénom.</p>
    <h2>Le type de données personnelles que nous collectons :</h2>
    <p>Nous collectons le nom, prénom adresse ect de l'utilisateur ainsi que les commandes effectuer sur notre site.</p>
    <h2>Les finalités pour lesquelles nous collectons les données personnelles :</h2>
    <p>Le but de cette collecte est de pouvoir enregistrer dans notre base de donnée les informations de tous les utilisateurs afin de leurs permettres de voir et de modifier leurs informations ainsi que leurs commandes.</p>
    <h2>La durée pendant laquelle nous conservons les données personnelles :</h2>
    <p>Nous conservons vos donnée personnelles identification aussi longtemps que votre compte existe dans notre base de donnée vous pouvez supprimer à tout moment votre donnée ou votre compte par demande ou en utilisant l'interface.</p>
    <h2>La manière dont nous protégeons les données personnelles contre les accès non autorisés, les divulgations, les modifications ou les destructions accidentelles ou illicites :</h2>
    <p>Nous nous engageons à mettre en oeuvre les mesures requise pour empecher toute intrusion et récupération illégale des données utilisateurs au cas ou nous prendrions connaissance d'un accès illégal à vos donnée nous nous engageons à vous en notifier le plus rapidement possible ainsi que de vous apprendre la raison de cette intrusion et les mesures que nous prendrons pour limiter de future faille.</p>
    <h2>La manière dont nous transférons les données personnelles à des tiers :</h2>
    <p>Vos données ne sont transmis à aucun tiers</p>
    <h2>Les droits des visiteurs concernant leurs données personnelles, tels que le droit d'accès, le droit de rectification, le droit à l'effacement, le droit d'opposition, le droit à la portabilité des données, etc. :</h2>
    <p>En tant qu'utilisateur vous avez tous droits de suppression de modification etc de vos données.</p>
    <h2>La manière dont les visiteurs peuvent exercer leurs droits :</h2>
    <p>Les présentes CGU et votre utilisation du Site sont régies et interprétées conformément aux lois de France, et notamment à la Loi n° 78-17 du 6 janvier 1978 relative à l'informatique, aux fichiers et aux libertés.Le choix de la loi applicable ne porte pas atteinte à vos droits en tant que consommateur conformément à la loi applicable de votre lieu de résidence. Si vous êtes un consommateur, vous et nous acceptons de se soumettre à la compétence non-exclusive des juridictions françaises, ce qui signifie que vous pouvez engager une action relative aux présentes CGU en France ou dans le pays de l'UE dans lequel vous vivez. Si vous êtes un professionnel, toutes les actions à notre encontre doivent être engagées devant une juridiction en France.

</p>
{% endblock %}