{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {{ parent() }}
<h1>Politique de confidentialité</h1>
<h2>Avertissement</h2>
<p>Cette politique de confidentialité a pour but de vous informer sur la manière dont nous collectons, utilisons et protégeons les données personnelles des visiteurs de notre site web. Elle a été rédigée en conformité avec la loi n° 78-17 du 6 janvier 1978 relative à l'informatique, aux fichiers et aux libertés, ainsi qu'avec le Règlement Général sur la Protection des Données (RGPD).</p>

<h2>Les données personnelles que nous collectons</h2>
<p>Nous collectons les données que vous nous fournissez lors de votre inscription sur notre site web, notamment votre nom, prénom, adresse e-mail et adresse de livraison. Nous collectons également les informations relatives à vos commandes, telles que les produits commandés et les dates d'achat.</p>

<h2>Finalités de la collecte de données personnelles</h2>
<p>Nous collectons vos données personnelles pour les finalités suivantes :</p>
<ul>
    <li>Gérer votre compte utilisateur sur notre site web ;</li>
    <li>Permettre le traitement de vos commandes ;</li>
    <li>Améliorer notre site web et nos services.</li>
</ul>

<h2>La durée de conservation de vos données personnelles</h2>
<p>Nous conservons vos données personnelles aussi longtemps que nécessaire pour atteindre les finalités pour lesquelles elles ont été collectées. Nous ne conservons pas vos données personnelles au-delà de la durée nécessaire pour atteindre ces finalités, sauf si cela est nécessaire pour respecter une obligation légale ou réglementaire.</p>

<h2>La sécurité de vos données personnelles</h2>
<p>Nous prenons des mesures de sécurité techniques et organisationnelles appropriées pour protéger vos données personnelles contre les accès, utilisations ou divulgations non autorisés. Nous limitons l'accès à vos données personnelles aux seuls employés qui ont besoin d'y accéder pour remplir leurs fonctions.</p>

<h2>Le partage de vos données personnelles</h2>
<p>Nous ne partageons pas vos données personnelles avec des tiers, sauf dans les cas suivants :</p>
<ul>
    <li>Nous utilisons des prestataires de services tiers pour fournir des services pour notre compte, tels que l'hébergement de notre site web ou l'envoi de courriels en notre nom. Ces prestataires de services n'ont accès qu'aux informations personnelles nécessaires pour fournir les services pour notre compte, et sont tenus de protéger ces informations conformément à cette politique de confidentialité et aux lois applicables en matière de protection des données personnelles ;</li>
    <li>Nous ne partageons pas vos données personnelles avec des tiers, sauf si cela est nécessaire pour  pour respecter les obligations légales ou pour protéger nos droits, notre propriété ou notre sécurité.</p>
</ul>
<h2>Droits des utilisateurs</h2>
<h2>La manière dont les visiteurs peuvent exercer leurs droits :</h2>
<p>Vous pouvez exercer vos droits en matière de protection des données à caractère personnel à tout moment en envoyant une demande à notre service client ou en utilisant l'interface du site pour supprimer, modifier ou demander une copie de vos données personnelles. Nous nous engageons à répondre à votre demande dans les meilleurs délais et à prendre les mesures nécessaires pour garantir la protection de vos données personnelles.</p>
<h2>Modification de la politique de confidentialité :</h2>
<p>Nous nous réservons le droit de modifier la présente politique de confidentialité à tout moment et sans préavis. Nous vous recommandons de consulter régulièrement cette page pour prendre connaissance des éventuelles mises à jour ou modifications. En continuant à utiliser notre site web après la publication des modifications, vous acceptez la politique de confidentialité révisée.</p>
{% endblock %}