{% extends 'base.html.twig' %}

{% block title %}Confirmation de commande{% endblock %}

{% block body %}
    <h1>Confirmation de commande</h1>
    <p>Voulez-vous vraiment commander le livre "{{ book.title }}" de {{ book.author }} ?</p>
    <form method="post" action="{{ path('commande_create') }}">
        <input type="hidden" name="book_id" value="{{ book.id }}">
        <button type="submit" class="btn btn-primary">Confirmer la commande</button>
    </form>
{% endblock %}