{% extends 'base.html.twig' %}

{% block title %}Commande effectuée{% endblock %}

{% block body %}
    <h1>Commande effectuée</h1>
    <p>Votre commande a été enregistrée avec succès.</p>
{% endblock %}