{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block body %}
{{ parent() }}

    <h1>Commande effectuée</h1>
    <br><br>
    <h3>Votre commande a été enregistrée avec succès.</h3>
    <br><br><br><br><br><br>
{% endblock %}