{% extends 'base.html.twig' %}

{% block body %}
     <h1>Mentions légales</h1>
    <h2>Éditeur du site web :</h2>
    <p>Le site librairiedulys.fr est la propriété de Sifi Ryan, qui l'édite.</p>
    <p>Numéro de téléphone: 0636707184</p> 
    <p>Adresse Mail: ryan.sifi.77@gmail.com</p>
    <p>Ce site est éditer dans un cadre d'apprentissage la société librairie du lys est fictive.</p>
    <br>
    <h2>Hébergeur du site web :</h2>
    <p>L'hébergeur du site est IONOS</p>
    <p>7, place de la Gare - BP 70109</p>
    <p>57200 Sarreguemines Cedex</p>
    <h2>Numéro d'immatriculation de l'entreprise (le cas échéant) :</h2>
    <h2>Numéro de TVA intracommunautaire (le cas échéant) :</h2>
    <p>La société librairie du lys n'existant pas ses deux dernier élément sont laisser vide</p>
    <p>Nom et adresse de la société qui a développé le site web (le cas échéant) :</p>
{% endblock %}